<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${tsTestModel.title}" />
</head>
<body>
    <div th:text="${tsTestModel.title}" />
    <form action="/ts/tsTest/addTsTest" method="post" th:object="${tsTestModel.tsTest}">
        <td>
            <!-- 隐藏属性 -->
            <input type="hidden" name="id" th:value="*{id}">
        </td>

        <td>
            名字:
            <input type="text" name="userName" th:value="*{userName}">
        </td>

        <td>
            年龄:
            <input type="text" name="age" th:value="*{age}">
        </td>
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>