<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用于演示增删改查基本操作</title>
</head>
<body>
<div>
    <a href="/ts/tsTest/jumpToAddPage">添加数据</a>
</div>

<table border="1">
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>年龄</td>
        <td>编辑</td>
        <td>删除</td>
    </tr>
    <tr th:if="${tsTests.size()} eq 0">
        <td colspan="3">没有用户信息!</td>
    </tr>
    <!--/*@thymesVar id="tsTests" type="java.util.List"*/-->
    <tr th:each="tsTest : ${tsTests}">
        <td th:text="${tsTest.id}"></td>
        <td th:text="${tsTest.userName}"></td>
        <td th:text="${tsTest.age}"></td>
        <!-- 编辑和添加是一样的，先跳转至一个新页面，然后再提交，唯一的区别就是编辑的时候要把id传到下一个页面中 -->
        <td><a th:href="@{'/tsTest/jumpToEditPage/'+${tsTest.id}}">编辑</a></td>
        <!-- 这里是模板规定的写法, 这里删除不需要页面展示 ，所以直接调用删除接口 -->
        <td><a th:href="@{'/tsTest/delTsTest/'+${tsTest.id}}">删除</a></td>
    </tr>
</table>

<p th:if="${tips!=null}">提示：<span th:text="${tips}"></span></p>
</body>
</html>